RewriteEngine On
#auth
ErrorDocument 404                                    /404.php
#auth
RewriteRule ^singer$                        public/views/singer.php [L]
RewriteRule ^music/([A-Za-z0-9@#-]+)$          public/views/music.php?code=$1 [QSA,L]
RewriteRule ^singer/([A-Za-z0-9@#-]+)$          public/views/artist.php?code=$1 [QSA,L]

RewriteRule ^login$                        public/views/login.php [L]
RewriteRule ^register$                        public/views/register.php [L]
RewriteRule ^api/auth/contact$                app/controllers/auth/contact.php [L]

RewriteRule ^api/auth/login$                app/controllers/auth/login.php [L]
RewriteRule ^api/auth/register$                app/controllers/auth/register.php [L]

RewriteRule ^san-pham/([A-Za-z0-9@#-]+)$       public/views/service/service.php?code=$1 [QSA,L]

#admin
RewriteRule ^admin$                   public/admin [L]



#service
RewriteRule ^([A-Za-z0-9@#-]+)$       public/views/service/index.php?code=$1 [QSA,L]

RewriteRule ^([A-Za-z0-9@#-]+)/([A-Za-z0-9@#-]+)$       public/views/service/index.php?code=$1&type=$2 [QSA,L]